.App {
  background: #ffffff;
  max-width: 1000px;
  width: 95%;
  height: 90vh;
}

.UInfo {
  margin: 2%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap:10%;
}

.sideBySide {
  align-items: center;
  display: inline-flex;
}

.bookingsContent {
  margin: 2%;
  text-align: justify;
}

.bookingsContent:after {
  display: inline-block;
  width: 100%;
}

.bookingsChild {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  display: inline-block;
}

.profileCalendar {
  width: 40%;
}